body
{
    margin: 0;
}

.main {
    height: auto !important;
    min-height: 100%;
    
     width: 100%;
     background-color:#eb3230;
 
    -webkit-box-shadow: 0 0 6px -3px #000;
    -moz-box-shadow: 0 0 6px -3px #000;
    box-shadow: 0 0 6px -3px #000;
    behavior:url(/g/pie/pie.htc);
}
 ul.hr {
     margin: 0;
     padding: 0;
     width:100%;
     text-align: center;
   }
   ul.hr li {
        padding: 0;
        display: inline-block; /* Отображать как строчный элемент */
        margin-right: 17px; /* Отступ слева */
        width:15%;
   }
   a:active
   {
   	color: white;
   }
   a:visited
   {
   	color: blue;
   }
   a:hover
   {
   	color: white;
   }
   .nav-main>.menu-main>ul>li>a
   {	
   		font-size: 40px;	         
   		text-decoration: none;
   	 	color: white;   	 	
   }   
    .nav-main>.menu-main-mobile>ul>li>a
   {	     
   		text-decoration: none;
   	 	color: white;
   	 	
   }   
 .foot {
 	margin: 20px 0 0 0;
 	color: white;
  	background-color:#eb3230;
 }  
.nav-main
 {
 	width:100%;
 	height: 60px;
 	background-color:#eb3230;
 	padding-top: 20px; 
 }

.menu-main-mobile {
display: none;
}
.menu-main {
    vertical-align: middle;
width:100%;
display: inline-block;
background-color:#eb3230;
}


h1, h2, h3, h4, h5, h6 {
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: 1px;
}
.our-menu{
    padding: 2px;
    color: white;
    background:#eb3230;
}
.h1
{
	text-align:center;
}
.event-title
{
	text-align:center;
	color: white;
}
.image-main
{
    background-color:#eb3230;
}
.ev1
{
	display:block;
	margin:auto;
}
.events
{
		display: none;
}
.event-description>p
{
	text-align: center;
	color: white;
	font-size: 20px;
}
.events_mobile
{
	display: none;	
}
.description
{
	display: none;
	/*min-height: 50vh; background-image: url('img/place.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;padding: 100px; text-align: center; color: white; text-decoration: none;background-attachment: scroll; font-size: 25px; background-color:#eb3230;*/
	
}
.description_new
{
	display: none;
	/*min-height: 50vh; background-size: cover; background-position: center center; background-repeat: no-repeat; text-align: center; color: white; text-decoration: none;background-attachment: scroll; font-size: 25px; background-color:#eb3230;*/
	
}
.description_mobile
{	
	display: none;	
	/*min-height: 50vh; background-image: url('img/place.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;padding: 100px; text-align: center; color: white; text-decoration: none;background-attachment: scroll; font-size: 15px; background-color:#eb3230;*/
	
}

.description_text
{
	display: none;
	margin-top: 80px;
	width:100%;  
	float: left; 
}

.global{
      background-color:#eb3230;
}

.all-menu
{
	width:100%;	 
    /*margin-top: 1%; */
    background-color:#eb3230;
    
}

.table_menu
{
	width: 100%;
	border-spacing: 0 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold; 
}
caption {
  padding: 10px;
  color: white;
  background: #eb3230;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;

  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
  text-align: center;
 
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}
.menu_td_rigth
{
	 width: 30%;
	 text-align: right;
}
.left_menu
{
	float: left;
	width:47%;
	margin-left: 20px;
}
.right_menu
{
	float: left;
	width:47%;
	margin-left: 3%;
}
.beer_menu
{
	width:100%;	
}
.h1_beer_menu
{
	 clear: left;
}
.contacts
{
	width:100%;
	margin-top: 3%;	
}
iframe
{
	width:100%;
   height:600px;
}
.craft_menu
{
	width: 100%;
	border-spacing: 0 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	#margin-left: 5px;
	#margin-right: 20px;
}
.craft_menu_mobile
{
	display: none;
}
.social
   {
   	color: black;
   }
ul.list-inline_social>li{   
	 padding: 0;
  display: inline; /* Отображать как строчный элемент */
}
.contacts-info{
 width: 100%;
margin-bottom: 50px;
}
.contacts-info-left {
float:left;
width:50%;
text-align:center
}
.contacts-info-right {
float:right;
width:50%;
text-align:center;
height:50px; line-height:50px;
}
footer{
width:100%;
margin-top: 10px;
}
.row
{	
display: block;
	width: 100%;
}
.col-sm-8_margin-20
{
	display: block;
	width: 100%;
}
.row_moblile
{	
	display: none;
	width: 100%;
}
.col-sm-8_margin-20_mobile
{
	display: none;
	width: 100%;
}
.list-inline_social
{
		display: block;
		position: absolute;
		right: 0px;
}
.list-inline_social_mobile
{
		display: none;
		position: absolute;
		right: 10px;
}
.news
{
	font-size: 25px;
	font-weight: bolder;
	display: none;
}
.recommend
{
	margin-top: 25px;
	margin-left: 90%;
	margin-right: 0;
}


@media screen and (max-width: 480px){
.craft_menu
{
	display: none;	
}
.craft_menu_mobile
{
	display: table;
	width: 100%;
	border-spacing: 0 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-left: 0px;
	margin-right: 5px;
}
.menu-main {
display: none;	
}
.menu-main-mobile {
display: block;
vertical-align: middle;
width:100%;
background-color:#eb3230;
}

.list-inline_social
{
		display: none;
		position: absolute;
		right: 0px;		
		
}
.list-inline_social_mobile
{
		display: block;		
 		list-style: none; /*убираем маркеры списка*/
		right: 80px;	
}
ul.list-inline_social_mobile li
{
	display: inline-block;		
}
.row
{	
	display: none;
	width: 100%;	
}
.col-sm-8_margin-20
{
	display: none;
	width: 100%;
}
.row_moblile
{	
	display: block;
	width: 100%;
}
.col-sm-8_margin-20_mobile
{
	display: block;
	width: 100%;
}
.events
{
		display: none;	
}
.events_mobile
{
	display: none;
}
.recommend
{
	margin-top: 25px;
	margin-left: 30%;
	margin-right: 0;
}
}