body
{
    margin: 0;
}
.main {
    height: auto !important;
    min-height: 100%;
    
    width: 100%;
    background-color: #fff;
 
    -webkit-box-shadow: 0 0 6px -3px #000;
    -moz-box-shadow: 0 0 6px -3px #000;
    box-shadow: 0 0 6px -3px #000;
    behavior:url(/g/pie/pie.htc);
}
 ul.hr {
     margin: 0;
     padding: 0;
     width:100%;
    text-align: center;
   }
   ul.hr li {
        padding: 0;
       display: inline-block; /* Отображать как строчный элемент */
    margin-right: 17px; /* Отступ слева */
    
	
   }
   a:active
   {
   	color: white;
   }
   a:visited
   {
   	color: blue;
   }
   a:hover
   {
   	color: white;
   }
   .nav-main>.menu-main>ul>li>a
   {		         
   		text-decoration: none;
   	 	color: white;
   	 	
   }   
 .foot {
 	margin: 20px 0 0 0;
 	color: white;
   background-color: #fd0000; 	
 }  
.nav-main
 {
 	width:100%;
 	height: 60px;
 	background-color: #fd0000;
 	padding-top: 20px;
 
 }


.menu-main {
    vertical-align: middle;
width:100%;
display: inline-block;
background-color: #fd0000;


}


h1, h2, h3, h4, h5, h6 {
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: 1px;
}
.h1
{
	text-align:center;
	
}
.description
{
	min-height: 50vh; background-image: url('img/beer2.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;padding: 100px; text-align: center; color: white; text-decoration: none;background-attachment: scroll;                   
	
}
p.description
{
	font-size: 16;
	                   
	
}
.description_text
{
	margin-top: 80px;
	width:100%;  
	float: left; 
}


.menu
{
	width:100%;	 
   margin-top: 1%; 
    
}

.table_menu
{
	width: 100%;
	border-spacing: 0 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold; 
}
caption {
  padding: 10px;
  color: white;
  background: red;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;

  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
 text-align: left;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}
.menu_td_rigth
{
	 width: 30%;
	 text-align: right;
}
.left_menu
{
	float: left;
	width:47%;
	margin-left: 20px;
}
.right_menu
{
	float: left;
	width:47%;
	margin-left: 3%;
}
.beer_menu
{
	width:100%;	
}
.h1_beer_menu
{
	 clear: left;
}
.contacts
{
	width:100%;
	margin-top: 3%;	
}
iframe
{
	width:100%;
   height:600px;
}
.craft_menu
{
	width: 99%;
	border-spacing: 0 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 20px;
}
.craft_menu_mobile
{
	display: none;
}
.social
   {
   	color: black;
   }
ul.list-inline_social>li{   
	 padding: 0;
  display: inline; /* Отображать как строчный элемент */
}
.row
{
	
	width: 100%;
}
.col-sm-8_margin-20
{
	width: 100%;
}
.list-inline_social
{
		position: absolute;
			right: 50px;
}
@media screen and (max-width: 960px){
.craft_menu
{
	display: none;	
}
.craft_menu_mobile
{
	width: 99%;
	border-spacing: 0 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 20px;
}
}